
@import "_var.sass"
.content
	padding: 0
	.panel-description
		background-color: #24492E
		padding: 10px 0px
		.container
			.col-md-12
				text-align: center
			h3
				color: #fff
				margin: 3px 0 7px
			.cart-logo
				//margin-top: -65px
			.description-text
				color: #fff	
				text-align: center	
	.order-type
		.container
			.tovar
				border: solid
				margin-top: 20px
				border-color: #F0F0F0
				.panel-cart
					.panel-body
						h3 
							small 
								opacity: 0.3
						.table-head	
							.row
								background-color: #F0F0F0
								.bg-muted-title
									text-align: center
									font-weight: bold
									border-right: 2px solid #fff
								.bg-muted-title1
									text-align: center
									font-weight: bold
						.table-row
							height: 100%
							.product-image
							img
								width: 100%
								height: 100%	
							.availability
								text-align: center
								font-size: 35px
								color: #68CA85	
							.count 
								input
									font-size: 14px
									line-height: 22px
									margin-top: 50px
									text-align: center
									width: 100%	
									outline: none
							.price
								margin-top: 50px
								text-align: center	
							.tovar-button
								.line
								button
									background-color: #fff
									border-width: 2px !important
									box-shadow: none !important
									border: solid
									border-radius: 3px
									border-color: #F0F0F0
									width: 95px
									&:hover
										border-color: #CACACA	
								.button2
									margin-left: 30px		
						.delivery
							strong
							.pad
								padding-left: 20px
						.tovar-operation	
							.row
								height: 80px
								background-color: #F0F0F0
							a
								color: #fff
								text-decoration: none
								border-width: 2px	
								border-radius: 3px
								padding: 5px 5px 
								border-color: #F0F0F0
								background-color: #24492E
								margin-top: 20px
								text-align: center
								display: block
								&:hover
									opacity: 0.9 
							.to_checkout
								background-color: #C70D1D
			.tovar-left
				.panel-heading
					background-color: #F0F0F0
				h4
					padding: 5px 5px 5px 15px	
				.panel-body
					padding-left: 15px
					font-size: 14px
				i 
					font-size: 40px
					float: right
					margin-top: -35px	

.recommendations
	margin-top: 40px
	.nav-tabs
		margin: 0
		padding: 0
		text-align: center
		border-bottom: 2px solid #F0F0F0
		span
			height: 28px 
			padding: 5px 15px 4px
			border: 2px solid #F0F0F0
			border-bottom: 2px solid #FFF
			background: #fff
	.tab-pane
		margin: 40px 0 30px
		.popular-item
			.popular-item-wrap
				margin: 0 auto
				width: 200px
				.popular-a
					img
						width: 200px
				.popular-name
					display: block
					position: relative
					margin: 5px auto 3px
					height: 48px

					color: $braun-a
					overflow: hidden
					&:after
						position: absolute
						text-align: right
						content: ""
						bottom: 0
						right: 0
						width: 70%
						height: 18px
						background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 90%)
				&:hover
					a
						text-decoration: none
						color: $active-dark
				.info-row
					position: relative
					.price
						float: left
					.brand
						float: right
						img
							height: 25px