@import "bourbon"
@import "_var.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0

.wpr
	position: relative
	background-color: $green-bg-color

	.col-md-12
		padding: 0
	.main-nav
		position: relative
		min-width: 210px
		width: 18%
		float: left
		margin: 40px 1%
		nav
			a
				position: relative
				display: block
				margin: 10px 0
				border-radius: 3px
				padding: 3px 3px 3px 25px
				line-height: 2
				font-size: em(15px)
				color: $main-text-menu
				background-image: url(../img/woood.jpg)
				&:hover
					opacity: .9
					text-decoration: none
	.overview-wrp
		float: left
		width: 80%
