@import "bourbon"
@import "_var.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0

.ulmnu
	list-style: none
	margin: 0
	padding: 0
	li
		display: inline-block

.main-mnu
	position: relative
	height: 42px
	font-size: em(16px)
	background-image: url(../img/woood.jpg)
	box-shadow: inset 0 -1px 14px rgba(0, 0, 0, 1)
	.container
		.col-md-10	
			margin: 0
			padding: 0
	ul
		float: left
		margin: 0
		padding: 0
		list-style: none
		li
			line-height: 38px
			padding: 0 30px 0 8px
			a
				display: block
				text-decoration: none
				text-shadow: 1px 1px 3px black
				color: $main-text-menu
			&:active, &:hover
				box-sizing: border-box
				height: 42px
				border-bottom: solid 4px $main-text-menu
				a
					color: $main-text-menu
	.active
		height: 42px
		box-sizing: border-box
		-moz-box-sizing: border-box
		-webkit-box-sizing: border-box
		font-weight: bold
		border-bottom: solid 4px #97C795
		a
			color: #97C795
	@extend .ulmnu
.hidden
	display: none

header
	background-color: $header-color
	box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
	.pre-topline
		height: 30px
		position: relative
		background-color: $pre-header-color
		box-shadow: 0 -1px 4px rgba(0, 0, 0, 1)
		overflow: hidden
		.container 
			padding: 0
			.col-md-6
				padding: 0
				.contacts
					position: relative
					display: block
					color: white
					align-content: center
					p
						font-size: em(13px)
						float: right
					.phone
						margin: 5px 5px 6px 15px
						padding-left: 23px
						background-position: left center
						background-repeat: no-repeat
						background-size: 20px
						float: right
						font-size: em(13px)

					.callback
						margin: 5px 15px 6px
						padding-left: 27px
						background-position: left center
						background-repeat: no-repeat
						background-size: 18px
						font-size: em(13px)
						float: right
						color: #D0CBCB
						cursor: pointer
						&:hover
							color: white
	.top-line
		min-height: 130px
		position: relative

		.logo
			opacity: .85
			img
				width: 275px
				margin-top: 25px
	
		.enter
			margin-top: 58px
			line-height: 2.5
			padding-left: 45px
			background-position: left center
			background-repeat: no-repeat
			background-size: 34px
			font-size: em(15px)
			float: left
			a
				color: white
				text-decoration: none
			&:hover
				text-decoration: underline
				cursor: pointer
		.basket
			display: block
			position: relative
			margin-top: 58px
			margin-left: 85px
			margin-right: 20px
			float: left
			width: 39px
			height: 39px
			.counter
				display: inline-block
				position: absolute
				height: 20px 
				width: 20px
				top: 10px
				left: -28px
				border-radius: 10px
				-moz-border-radius: 10px
 				-webkit-border-radius: 10px
				background-color: $red-acs
				font-size: 13px
				font-weight: bold
				color: white
				text-align: center
			img
				height: 39px
		//ТО є пошук				
		.search
			position: relative
			margin-top: 75px
			width: 370px
			font-size: em(12px)		
		.form-wrapper 
			width: 340px
		    padding: 0px
		    float: center
		    background: $red-acs
		    background: rgba(0,0,0,.2)
		    border-radius: 6px
		    box-shadow: 0 0 3px rgba(0,0,0,0.3)
		/* Стиль поля вводу тексту */
		.form-wrapper input 
		    width: 340px
		    height: 27px
		    padding: 6px 10px
		    border: 6px
		    float: left  
		    background: #FFFFFF
		    border-radius: 3px 0 0 3px    
		.form-wrapper input:focus 
		    outline: 0
		    background: #fff
		    box-shadow: 0 0 0.5px rgba(0,0,0,.5) inset
		.form-wrapper input::-webkit-input-placeholder 
		   color: #999
		   font-weight: normal
		.form-wrapper input:-moz-placeholder 
		    color: #999
		    font-weight: normal
		.form-wrapper input:-ms-input-placeholder 
		    color: #999
		    font-weight: normal
		/*То є кнопка відправки форми*/
		.form-wrapper button 
		    overflow: visible
		    position: relative
		    float: right
		    border: 0
		    padding: 0
		    cursor: pointer
		    height: 27px
		    width: 30px
		    font: 14px 'RobotoBold'
		    color: #fff
		    text-transform: uppercase
		    background: $red-acs
		    border-radius: 0 3px 3px 0     
		    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3)
		.form-wrapper button:hover   
		    background: #e54040
		.form-wrapper button:active,
		.form-wrapper button:focus  
		    background: #c42f2f
		    outline: 0  
		.form-wrapper button:before  /* стрілка вліво */
		    content: ''
		    position: absolute
		    border-width: 8px 8px 8px 0
		    border-style: solid solid solid none
		    border-color: transparent $red-acs transparent
		    top: 7px
		    left: -6px
		.form-wrapper button:hover:before
		    border-right-color: #e54040
		.form-wrapper button:focus:before,
		.form-wrapper button:active:before
		    border-right-color: #c42f2f
		.form-wrapper button::-moz-focus-inner  /* ТО для  Mozilla Firefox */
		    border: 0
		    padding: 0				
		//ТО Є кінець пошуку   
		
		//Mobile menu
		.toggle-mnu
			position: absolute
			display: block
			width: 28px
			height: 24px
			margin-top: 38px
			cursor: pointer
			span
				position: relative
				display: block
				&:after
					position: absolute
					content: ""
					left: 0
					top: 24px
				&:before
					position: absolute
					content: ""
					left: 0
					top: 12px
			span, span:after, span:before
				width: 100%
				height: 2px
				background-color: #fff
				transition: all 0.3s
				backface-visibility: hidden
				border-radius: 2px

.forward-call
	position: absolute
	display: none
	height: 100%
	width: 100%
	z-index: 10
	background-color: rgba(6,6,6, 0.9)
	transition: top 0.3s linear
	.forward-modal
		display: block
		position: fixed
		margin: 0 auto
		width: 500px
		padding: 10px 0 15px
		border-radius: 4px
		border: solid 2px rgba(23,68,26,.7)
		background-color: rgba(33,68,46,1)
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		z-index: 20
		.close
			position: absolute
			display: block
			cursor: pointer
			right: -14px
			top: -14px
			width: 28px
			height: 28px
			color: #FFF
			font-size: 1.8em
			line-height: 28px
			text-align: center
			border-radius: 16px
			background-color: rgba(120,120,120, .9)
			&:hover
				background-color: rgba(120,120,120, .8)
		.forward-form
			display: block
			vertical-align: middle
			color: #FFF

			h2
				font-weight: normal
				text-align: center
			.form-group
				margin: 0 35px 20px 35px
				font-size: 15px
				label
					color: #FFF
				.form-control
					color: #000
					display: block
					width: 100%
					padding: 0 10px
					margin-top: 3px
					border-radius: 3px
					border-color: transparent
					&:focus
							outline: none
				.form-control-high
					@extend .form-control
					resize: none
			.form-group-b
				margin: 30px 35px
				a
					font-size: 13px
					color: rgba(59,39,20, 0.8)
				.btn
					background-color: rgba(199,13,29, 0.9)
					color: #FFF
					font-weight: bold
					float: right
					height: 27px
					padding: 0 35px
					border-radius: 3px
					border-color: transparent
					font-size: 14px
					&:focus
						outline: none
					&:hover
						background-color: $red-acs

.sidebar 
	position: absolute
	display: block
	width: 200px
	height: 100%
	left: -200px
	top: 0
	opacity: 0.9
	z-index: 200
	background: #151718
	transition: left 0.3s linear 
	ul
		li
			list-style: none
			margin-left: -31px
			margin-bottom: 5px
			a
				border-bottom: 1px solid 
				display: block
				width: 180px
				padding: 10px
				text-decoration: none
				color: #fff	
			.exit
				color: $red-acs
.visible-sb
	left: 0
	z-index: 300
	transition: left 0.3s linear

.mobile-search
	margin-top: 35px
	padding-left: 20px
	.m-search
		cursor: pointer

.searchmob
	position: absolute
	display: block
	height: 100%
	width: 100%
	opacity: 0.9
	top: -100%
	left: -100%
	background: #151718	
	transition: left 0.3s linear
	span
		color: #fff
		display: block
		margin-left: 70%
		margin-top: 40%
		font-size: 25px
		cursor: pointer
	#search
		width: 300px
		height: 50px
		background: #2b303b
		border: none
		font-size: 10pt
		float: left;
		color: #262626
		padding-left: 45px
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		color: #fff
		margin-top: 2%
		margin-left: 28%
.visible-smob
	left: 0
	top: 0
	z-index: 99
	transition: left 0.3s linear