@import "_var.sass"
.breadcrumb
		font-size: em(12px)

		ul 
			text-align: left
			padding: 0
			list-style: outside none none
			li 
				display: inline-block
			li:before
				color: #ccc
				content: ">"
				display: inline-block
				padding: 0 5px
				font-size: 150%	
.content 
	//background-color: $lines-color
	.container-fluid
		.row 
			margin-top: 0px
			margin-bottom: 30px
			.booton
				padding-left: 60px 
		.product-name-element
			margin: 0
		.product-main-photo
			img 
				width: 350px
				max-width: 100%
				max-height: 100%
		.pi_price_wrp
			background-color: #e6d8a2
			display: inline-block
			font-size: 37px
			height: 54px
			padding: 0 20px
			margin-top: 10px
			&:before, &:after
				content: ""
				/* style */
				background-color: #fff
				border-radius: 10px
				content: ""
				display: block
				height: 14px
				left: 56px
				margin-top: -87px
				position: absolute
				top: 51%
				width: 14px
				z-index: 1
				//left: auto
			&:before
				border-right: medium none
				//left: auto
				right: 88px
				top: 198px
		.add2cart_wrp 
			background-color: $pre-header-color
			display: inline-block
			height: 60px
			position: relative
			vertical-align: middle
			text-transform: none
			margin-top: 20px
			&:hover
				opacity: 0.9
			.add2cart_handler
				border: none
				height: 60px
				background-color: $pre-header-color
				padding: 0 20px
				font-size: 27px
				color: #fff
		.pb_stock
			margin-top: 20px
			font-size: 25px
		.pi_shippay_buttons_wrp
			margin-top: 10px
			display: block
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			.guarantees 
				padding-top: 10px
	.main_row_cell
		.top_prod_title
			background-color: #c71606
			color: #c71606
			font-size: 20px
			height: 1px
			line-height: 1px
			margin: 10px 0 28px
			text-align: center
			text-transform: uppercase	
			span 
				background-color: #fff
				margin: 0
				padding: 0 10px
				position: relative
				top: -12px
				vertical-align: middle	
			.tp_five 
				background-color: #f3ebc4
				border-radius: 50%
				display: inline-block
				height: 30px
				line-height: 31px
				margin: 0
				padding: 0
				top: -2px
				vertical-align: middle
				width: 30px
		.box 
			.product_brief_topprod 
				height: 110px
				border-bottom: 1px solid rgba(0,0,0,.1)
				.brief_topprod_image
					img 
						max-width: 100%
						max-height: 100%
				.product_brief_topprod_right 
					float: right
					.pb_price 
						font-size: em(16px)
						font-weight: bold
					.pb_product_name 
						display: block
						white-space: nowrap
						overflow: hidden
						text-overflow: ellipsis	
					.buy 
						button
							background-color: #355440//не чіпай
							opacity: 1
							border-style: none
							color: #fff
							cursor: pointer
							display: inline-block
							font-size: em(12px)
							font-weight: bold
							line-height: 1.42857
							margin-bottom: 0
							padding: 8px 15px
							text-align: center
							text-transform: uppercase
							vertical-align: middle
							transition: all .2s ease 0s
							text-decoration: none	
.container-fluid-description 
	width: 100%
	background-color: $lines-color
	.section-title 
		color: #474747
		//font-size: 18px
	.pull-right 
		h4 
			margin-bottom: 5px
			margin: 0 0 15px 0
			color: #474747
		p 
			margin: 0
.recommendations
	height: 400px
	.nav-tabs
		text-align: center
		border-bottom: 1px solid #ddd
		background-color: $lines-color
		height: 30px
		margin: 0
		padding: 0
		a 
			text-decoration: none
			color: #000 
			border: 1px solid #ddd
			border-bottom: none
			padding: 6px 15px 9px
			background: #fff
	.tab-pane
		margin-top: 50px
		.panel-recommendations-item
				.vertical-middle
					display: block
					text-align: center
					margin-top: 10px
				.image-recommendations
					width: 200px  
					margin: 0 auto
					text-overflow: -o-ellipsis-lastline
					display: -webkit-box
					-webkit-line-clamp: 2
					-webkit-box-orient: vertical


				
		
			